# PSD2 API

PSD2 služby nabízené platebním systémem GoPay umožňují aplikacím třetích stran (`TPP` - Third Party Provider) číst informace (stav účtu, výpis pohybů) o držiteli účtu EP (elektronických peněz) nebo zakládat platbu jeho jménem ve prospěch jiného účtu EP.

GoPay PSD2 API nabízí 2 základní typy služeb:

- [AIS](#ais) (Account information service)
- [PIS](#pis) (Payment initiation service)

<b>Princip fungování</b>

Možnost využít `AIS` a `PIS` služby mají `TPP`, kteří získali od [ČNB](https://www.cnb.cz/) licenci k využívání těchto služeb. Ve většině případů jsou TPP banky, které mají přístup jak k AIS, tak i PIS službě. Nicméně je možné, že některé TPP subjekty mohou mít přístup pouze k AIS.
TPP je v rámci GoPay evidován jako samostatná entita, která má přiřazenou aplikaci pro přístup k REST API.
Založení entity je blíže popsáno v pokynech pro zakládání TPP, kde je definován schvalovací proces.

<b>Souhlas</b>

Aby mohla aplikace třetí strany (`TPP`) přistupovat ke službám `AIS` a `PIS`, je nutné získat souhlas (`consent`) držitele účtu EP k jednotlivým službám.

Souhlas je udělován v rámci prostředí elektronické peněženky, případně GoPay obchodního účtu, kde zákazník/držitel v sekci <i>Nastavení -> TPP</i> vybírá konkrétního TPP, kterému chce udělit souhlas. Dále vybírá typ služby (AIS, PIS) a potvrzuje souhlas s jejich užíváním. Držitel EP přenáší údaj `GoID` do nastavení služby na straně TPP, jelikož je povinný v API voláních.
Souhlas je možné kdykoliv zrušit, či opětovně udělit.

## AIS

<b>AIS (Account information service)</b>

V případě, že `TPP` získal souhlas držitele účtu pro účel <b>AIS</b>, potom GoPay zpřístupňuje TPP následující služby:

- informace o držiteli EP (osobní účet / obchodní účet)
- zůstatek na účtu EP
- přehled pohybů na účtu EP

### Informace o osobním účtu

Tímto API voláním získá TPP základní informace o držiteli EP typu peněženka (osobní účet). Zároveň získává výčet účtů EP, které držitel vlastní.
Identifikátory účtů EP jsou vstupní parametry pro službu [Přehled pohybů na účtu](#prehled-pohybu-na-uctu).

> Request

<%= partial "includes/examples", :locals => { :example => data.example.psd2_ais_wallet.request } %>

<h5>Request</h5>

```GET /api/wallets/{GoID}/wallet-info```

<aside class='notice'>
Při generování přístupového tokenu je nutné použít scope=account-info.
</aside>

<h5>Hlavička požadavku</h5>

Název parametru|Popis parametru|Povinný
---------------|---------------|-------
Accept|application/json|ANO
Authorization|Bearer [```<access-token>```](#pristupovy-token)|ANO

> Response

<%= partial "includes/examples", :locals => { :example => data.example.psd2_ais_wallet.response } %>

<h5>Response</h5>

Název parametru|Popis parametru|
---------------|---------------|
id| ID účtu
email| E-mailový kontakt účtu
name| Jméno majitele účtu
[state](#stav-uctu)| Stav účtu, nabývá hodnost, viz [state](#stav-uctu)
go_id| Identifikátor účtu GoID
phone_number| Telefonní kontakt účtu
verification_level| Úroveň ověření účtu
[accounts](#accounts)| Připojené účty elektronických peněz


### Informace o obchodním účtu

Tímto API voláním získá TPP základní informace o držiteli EP typu obchodník (obchodní účet). Zároveň získává výčet účtů EP, které držitel vlastní.
Identifikátory účtů EP jsou vstupní parametry pro službu [Přehled pohybů na účtu](#prehled-pohybu-na-uctu).

> Request

<%= partial "includes/examples", :locals => { :example => data.example.psd2_ais_merchant.request } %>

<h5>Request</h5>

```GET /api/merchants/{EVC}/merchant-info```

<aside class='notice'>
Při generování přístupového tokenu je nutné použít scope=account-info.
</aside>

<h5>Hlavička požadavku</h5>

Název parametru|Popis parametru|Povinný
---------------|---------------|-------
Accept|application/json|ANO
Authorization|Bearer [```<access-token>```](#pristupovy-token)|ANO

> Response

<%= partial "includes/examples", :locals => { :example => data.example.psd2_ais_merchant.response } %>

<h5>Response</h5>

Název parametru|Popis parametru|
---------------|---------------|
evidence_number| Evidenční číslo (EVČ)
[current_state](#)| Stav účtu
[subject_type](#)| Právní forma
name| Název
first_name| Křestní jméno
registration_number| IČO
vat_registration_number| DIČ
[address](#address)| Adresa/sídlo
[accounts](#accounts)| Připojené účty elektronických peněz

### Přehled pohybů na účtu

API voláním zpřístupňuje TPP přehled pohybů na účtu držitele EP.

Volání lze parametrizovat:

- `date_from` - datum od
- `date_to` - datum do
- `page` - stránka (číslováno od 0)
- `page_size` - velikost stránky (max. 25)

> Request

<%= partial "includes/examples", :locals => { :example => data.example.psd2_ais_movements.request } %>

<h5>Request</h5>

```GET /api/accounts/account/{EVC}/account-movements```

<aside class='notice'>
Při generování přístupového tokenu je nutné použít scope=account-info.
</aside>

<h5>Hlavička požadavku</h5>

Název parametru|Popis parametru|Povinný
---------------|---------------|-------
Accept|application/json|ANO
Authorization|Bearer [```<access-token>```](#pristupovy-token)|ANO

> Response

<%= partial "includes/examples", :locals => { :example => data.example.psd2_ais_movements.response } %>

<h5>Response</h5>

Název parametru|Popis parametru|
---------------|---------------|
id| ID pohybu
amount| Částka
[currency](#currency)| Měna, formát měny odpovídá [ISO 4217](http://www.iso.org/iso/home/standards/currency_codes.htm)
variable_symbol| Variabilní symbol / ID objednávky
date_performed| Datum provedení (yyyy-mm-dd HH:MM:SS:MS)
[counterparty](#counterparty)| Protistrana
account_id| ID účtu elektronických peněz
transaction_id| ID transakce

## PIS

<b>PIS (Payment initiation service)</b>

V případě že `TPP` získal souhlas držitele účtu pro účely <b>PIS</b>, potom GoPay zpřístupňuje TPP následující služby:

- založení platby jménem držitele účtu
- dotaz na stav platby

### Založení platby

Funkce založí platbu jménem držitele EP ve prospěch jiného účtu EP. Platbu je nutné následně [potvrdit](#potvrzeni-platby). 

> Request

<%= partial "includes/examples", :locals => { :example => data.example.psd2_pis_payment.request } %>

<h5>Request</h5>

```POST /api/wallet/payments/payment```

<aside class='notice'>
Při generování přístupového tokenu je nutné použít scope=payment-all.
</aside>

<h5>Hlavička požadavku</h5>

Název parametru|Popis parametru|Povinný
---------------|---------------|-------
Accept|application/json|ANO
Content-Type|application/json|ANO
Authorization|Bearer [```<access-token>```](#pristupovy-token)|ANO

<h5>Tělo požadavku</h5>

Název parametru|Popis parametru|Povinný
---------------|---------------|-------
payer| Objekt popisující plátce platby|ANO
[target](#target)| Objekt popisující příjemce platby|ANO
amount|Částka v haléřích|ANO
[currency](#currency)|Měna platby|ANO

> Response

<%= partial "includes/examples", :locals => { :example => data.example.psd2_pis_payment.response } %>

<h5>Response</h5>

Název parametru|Popis parametru|
---------------|---------------|
id|ID platby
[state](#stavy-plateb)|Stav platby
[sub_state](#podstav-plateb)|Podstav platby
amount|Částka v haléřích
[currency](#currency)|Měna platby
[payer](#payer)| Objekt popisující plátce platby
[target](#target)| Objekt popisující příjemce platby


### Potvrzení platby

Potvrzení [platby](#zalozeni-platby) může skončit několika stavy:

- *PAID* - platba dokončena (nízké transakce),
- *PAYMENT_METHOD_CHOOSEN* - s nastavenou `gw_url`. GoPay vyžaduje interakci držitele EP, tj. dokončit autorizaci vlastníkem účtu,
- *chybou* - např. nemožnost akceptovat platbu příjemcem platby, nebo nedostatek peněz na straně plátce, atp.

> Request

<%= partial "includes/examples", :locals => { :example => data.example.psd2_pis_payment_confirmation.request } %>

<h5>Request</h5>

```POST /api/wallet/payments/payment/{ID}/confirm```

<aside class='notice'>
Při generování přístupového tokenu je nutné použít scope=payment-all.
</aside>

<h5>Hlavička požadavku</h5>

Název parametru|Popis parametru|Povinný
---------------|---------------|-------
Accept|application/json|ANO
Content-Type|application/x-www-form-urlencoded|ANO
Authorization|Bearer [```<access-token>```](#pristupovy-token)|ANO

> Response

<%= partial "includes/examples", :locals => { :example => data.example.psd2_pis_payment_confirmation.response } %>

<h5>Response</h5>

Název parametru|Popis parametru|
---------------|---------------|
id|ID platby
[state](#stavy-plateb)|Stav platby
[sub_state](#podstav-plateb)|Podstav platby
amount|Částka v haléřích
[currency](#currency)|Měna platby
[payer](#payer)| Objekt popisující plátce platby
[target](#target)| Objekt popisující příjemce platby