## superCASH

Advanced features of superCASH payment method allow to create a group (a batch) of coupons for getting the payment information
including barcodes. The customer therefore doesn´t operate with GoPay payment gateway. You can display all important information for offline
payment via superCASH payment method for example to the customer's invoice for the order.

### Creation of batch

The function will create a group (a batch) of superCASH coupons. When the creation is complete, notification URL specified in ```batch_completed_notification_url``` parameter is called.
Default parameters of coupons are specified in "[defaults](#defaults)" object specific parameters then in "[coupons](#coupons)" object.

> Request

<%= partial "includes/examples", :locals => { :example => data.example.create_supercash_batch.request } %>    

<h5>Request</h5>

```POST /api/supercash/coupon/batch```

<h5>Header of request</h5>

Parameter's name | Parameter's description | Required
----------------|-----------------|--------
Accept|application/json|YES
Content-Type|application/json|YES
Authorization| Bearer [```<access-token>```](#access-token)|YES

<h5>Body of request</h5>

Parameter's name| Parameter's description | Required | Data's type
----------------|-----------------|---------|-----------
go_id|Unique identifier of an e-shop in the payment gateway system|YES|long
batch_completed_notification_url|URL address for sending asynchronous notification in the case of changes in the batch status (with protocol)|YES|string
[defaults](#defaults)|Default values of superCASH coupons|YES| Object
[coupons](#coupons)|Specific values of superCASH coupons|YES| Object

>Response

<%= partial "includes/examples", :locals => { :example => data.example.create_supercash_batch.response } %>                   
                
<h5>Response</h5> 
  
Parameter's name|Parameter's description| Data's type
---------------|---------------|-----------
batch_request_id|Coupons batch's ID|long


### Creation of coupon

The function will create a single superCASH coupon. When the creation is complete, notification URL specified in ```notification_url``` is called.

> Request

<%= partial "includes/examples", :locals => { :example => data.example.create_supercash_coupon.request } %>    

<h5>Request</h5>

```POST /api/supercash/coupon```

<h5>Header of request</h5>

Parameter's name | Parameter's description | Required
----------------|-----------------|--------
Accept|application/json|YES
Content-Type|application/json|YES
Authorization| Bearer [```<access-token>```](#access-token)|YES

<h5>Body of request</h5>

Parameter's name| Parameter's description | Required | Data's type
----------------|-----------------|---------|-----------
go_id|Unique identifier of an e-shop in the payment gateway system|YES|long
[sub_type](#sub-type)|Type of superCASH coupon|YES|Can gain values of [sub_type](#sub-type)
custom_id|Custom ID for coupon|NO|string, alphanumeric characters only
amount|Amount in cents|YES|long > 0
order_number|Identification of the order within the point of sale|NO| string, alphanumeric characters only
order_description|Description of goods/service|NO|string, alphanumeric characters only)
buyer_email|Valid e-mail address|YES|string
buyer_phone|Phone number with country code|YES|string
date_valid_to|Date of the coupon's validity|YES|string, yyyy-mm-dd
notification_url|URL address for sending asynchronous notification in the case of changes in the coupon's status (with protocol)|YES|string

>Response

<%= partial "includes/examples", :locals => { :example => data.example.create_supercash_coupon.response } %>                   
                
<h5>Response</h5> 
  
Parameter's name|Parameter's description| Data's type
---------------|---------------|-----------
supercash_coupon_id|superCASH coupon's ID|string
custom_id|Custom ID for coupon|string
barcode_image_url|superCASH barcode in JPG format|string
supercash_number|superCASH number|string
barcode|Barcode|string
date_created|Date of coupon's creation|yyyy-MM-dd’T'HH:mm:ss.SSSZ
date_valid_to|Date of the coupon's validity|string, yyyy-mm-dd
payment_session_id_list|List of payments' IDs|string



### Batch creation's status

The funcionality returns the status of superCASH batch's creation.

> Request

<%= partial "includes/examples", :locals => { :example => data.example.supercash_batch_status.request } %>    

<h5>Request</h5>

```GET /api/batch/{id_of_batch}```

<h5>Header of request</h5>

Parameter's name | Parameter's description | Required
----------------|-----------------|--------
Accept|application/json|YES
Content-Type|application/x-www-form-urlencoded|YES
Authorization| Bearer [```<access-token>```](#access-token)|YES

>Response

<%= partial "includes/examples", :locals => { :example => data.example.supercash_batch_status.response } %>                   
                
<h5>Response</h5> 
  
Parameter's name|Parameter's description| Data's type
---------------|---------------|-----------
[state](#state-of-supercash-batch)|Status of the batch|string,can gain values [state](#state-of-supercash-batch)
batch_completed|Batch completed|boolean
items_finished|Number of finished items|long
items_count|Total count of items|long

### Details

The functionality allow you to get details of superCASH coupons.
Each function is differentiated via ```GET``` parameters of called URL, see requests below.

<b>Coupons</b>
<br>
The function returns details of specific superCASH coupon.

<b>Batch</b>
<br>
The function returns details of superCASH coupons of the batch. The ID of batch is specified in GET parameter of request URL.

<b>Payments</b>
<br>
The function returns details of superCASH coupons for the payment. The ID of payment is specified in GET parameter of request URL.
<br>More payments are separated with comma separator.

> Request

<%= partial "includes/examples", :locals => { :example => data.example.supercash_coupon_detail.request } %>    

<h5>Request of coupon</h5>

	```GET /api/supercash/coupon/{id_kuponu}```

<h5>Request of batch</h5>

	```GET /api/supercash/coupon/find?batch_request_id={id_batche}&go_id={goid_eshopu}```

<h5>Request of payment</h5>

	```GET /api/supercash/coupon/find?payment_session_id_list={id_platby}&go_id={goid_eshopu}```


<h5>Header of request</h5>

Parameter's name | Parameter's description | Required
----------------|-----------------|--------
Accept|application/json|YES
Content-Type|application/x-www-form-urlencoded|YES
Authorization| Bearer [```<access-token>```](#access-token)|YES

>Response

<%= partial "includes/examples", :locals => { :example => data.example.supercash_batch_detail.response } %>                   
                
<h5>Response</h5> 
  
Parameter's name|Parameter's description| Data's type
---------------|---------------|-----------
supercash_coupon_id|superCASH coupon's ID|string
custom_id|Custom ID for coupon|string
barcode_image_url|superCASH barcode in JPG format|string
supercash_number|superCASH number|string
barcode|Barcode|string
date_created|Date of coupon's creation|yyyy-MM-dd’T'HH:mm:ss.SSSZ
date_valid_to|Date of the coupon's validity|string, yyyy-mm-dd
payment_session_id_list|List of payments' IDs|string